body {
  background: #f5f7fa;
  color: #444;
  font-family: "Ubuntu", sans-serif;
}

.Header {
  display: flex;
  align-content: center;
  justify-content: center;
}

h1 {
  font-size: 50px;
}

h2 {
  display: flex;
  align-content: center;
  justify-content: center;
}

button {
  border: 2px solid #496bbe;
  background-color: #f5f7fa;
  transition: 500ms;
}

button:hover {
  background-color: rgba(73, 107, 190, 0.7);
}

button:active {
  scale: 1.2;
}

.Content {
  display: flex;
  align-content: center;
  justify-content: center;
}

#Chart {
  width: 50%;
}

#Chart td,
#Chart th {
  border: 1px solid #444;
  padding: 8px;
  text-align: center;
}

#Chart tr:nth-child(even) {
  background-color: #f2f2f2;
}

#Chart tr:hover {
  background-color: #ddd;
}

#Chart th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #496bbe;
  color: white;
}

.Wrong {
  border: 2px solid red;
}

.Right {
  border: 2px solid springgreen;
}

.Normal {
  border: 2px solid #444;
}

.Switch-Chart {
  margin: 10px;
  font-size: 50px;
}

.Options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Chart-Option {
  margin: 10px;
  width: 40%;
  font-size: 25px;
}
