body {
  background: #f5f7fa;
  color: #444;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

@viewport {
  width: device-width;
  zoom: 1;
}

.Header {
  display: flex;
  align-content: center;
  justify-content: center;
}

h1 {
  font-size: 50px;
}

h2 {
  display: flex;
  align-content: center;
  justify-content: center;
}

button {
  border: 2px solid #496bbe;
  background-color: #f5f7fa;
  transition: 500ms;
}

button:hover {
  background-color: rgba(73, 107, 190, 0.7);
}

button:active {
  scale: 1.2;
}

.Content {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.Chart {
  width: 50%;
}

.Chart td,
.Chart th {
  border: 1px solid #444;
  padding: 8px;
}

.Chart tr:nth-child(even) {
  background-color: #f2f2f2;
}

.Chart tr:hover {
  background-color: #ddd;
}

.Chart th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #496bbe;
  color: white;
}

input[type="text"] {
  font-family: inherit;
}

.Wrong {
  border: 2px solid red;
}

.Right {
  border: 2px solid springgreen;
}

.Normal {
  border: 2px solid #444;
}

.Switch-Chart {
  margin: 10px;
  font-size: 50px;
}

.Options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Chart-Option {
  margin: 10px;
  width: 40%;
  font-size: 25px;
}

/*Phones*/
@media only screen and (max-width: 450px) {
  .Content {
    scale: 0.9;
    transition: 500ms;
  }
}

/*Smaller screens*/
@media only screen and (max-width: 650px) {
  h1 {
    font-size: 30px;
    transition: 500ms;
  }
  .Content {
    flex-direction: column;
    transition: 500ms;
  }
  .Chart {
    margin-left: auto;
    margin-right: auto;
    transition: 500ms;
  }
  .Side-Label {
    display: none;
    transition: 500ms;
  }
  .Options {
    flex-direction: row;
    transition: 500ms;
  }
}
