.Content {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

/*TODO: try making outer chart border rounded*/
.Chart {
  width: 50%;
}

.Chart td,
.Chart th {
  border: 1px solid #444;
  padding: 8px;
}

.Chart tr:nth-child(even) {
  background-color: #f2f2f2;
}

.Chart tr:hover {
  background-color: #ddd;
}

.Chart th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #496bbe;
  color: white;
}

input[type="text"] {
  outline-style: solid;
  outline-width: 2px;
}

input[type="text"]:focus {
  outline-color: #496bbe;
}

/*TODO: maybe dont use !important*/
.Wrong {
  outline-color: red;
  border-radius: 0px !important;
}

.Right {
  outline-color: springgreen;
  border-radius: 0px !important;
}

.Normal {
  outline-color: #444;
  border-radius: 0px !important;
}

.Switch-Chart {
  margin: 10px;
  font-size: 50px;
  color: #444;
}

.Options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

.Chart-Option {
  width: 20%;
  font-size: 25px;
}

@media only screen and (max-width: 300px) {
  .Switch-Chart {
    font-size: 20px;
  }
  .Chart-Option {
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .Content {
    scale: 0.9;
  }
  .Chart-Option {
    margin-top: 0px;
    width: 80%;
  }
  .Options {
    flex-direction: column;
  }
  .Switch-Chart {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  .Content {
    flex-direction: column;
  }
  .Chart {
    margin: auto auto auto auto;
    width: 90%;
  }
  input[type="text"] {
    width: 90%;
  }
}
