.Content {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.Chart {
  width: 50%;
}

.Chart td,
.Chart th {
  border: 1px solid #444;
  padding: 8px;
}

.Chart tr:nth-child(even) {
  background-color: #f2f2f2;
}

.Chart tr:hover {
  background-color: #ddd;
}

.Chart th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #496bbe;
  color: white;
}


input[type="text"] {
  outline-style: solid;
  outline-width: 2px;
}

input[type="text"]:focus {
  outline-color: #496bbe;
}

.Wrong {
  outline-color: red;
}

.Right {
  outline-color: springgreen;
}

.Normal {
  outline-color: #444;
}

.Hidden {
  display: none;
}

.Switch-Chart {
  margin: 10px;
  font-size: 50px;
  color: #444;
}

.Options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Chart-Option {
  margin: 10px;
  width: 40%;
  font-size: 25px;
}

/*Exta small screens*/
@media only screen and (max-width: 300px) {
  .Switch-Chart {
    font-size: 20px;
  }
  .Chart-Option {
    font-size: 20px;
  }
}

/*Phones*/
@media only screen and (max-width: 450px) {
  .Content {
    scale: 0.9;
    transition: 500ms;
  }
}

/*Smaller screens*/
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
    transition: 500ms;
  }
  .Content {
    flex-direction: column;
    transition: 500ms;
  }
  .Chart {
    margin-left: auto;
    margin-right: auto;
    transition: 500ms;
    width: 90%;
  }
  .Options {
    flex-direction: row;
    transition: 500ms;
  }
  input[type="entry"] {
    width: 90%;
  }
}