body {
  margin: 0;
  color: #444;
  background: #f5f7fa;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

main {
  margin: auto auto auto auto;
  width: 80%;
}

@viewport {
  width: device-width;
  zoom: 1;
}

a {
  color: #496bbe;
  text-decoration: none;
}

hr {
  width: 80%;
  border-left: none;
  border-right: none;
}

nav {
  display: flex;
  padding: 5px 0px 5px 0px;
  width: 100%;
  background-color: #496bbe;
}

.Icon {
  align-self: center;
  margin: 0px 5px 0px auto;
}

.Switch-Page {
  margin: 5px 5px 5px 10px;
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
  color: #f5f7fa;
  border: 2px solid #f5f7fa;
  transition: 500ms;
}

.Switch-Page:hover {
  scale: 1.1;
}

.Switch-Page:active {
  color: #444;
  border: 2px solid #444;
}

h1 {
  font-size: 50px;
}

h2 {
  align-content: center;
  justify-content: center;
}

input[type="text"] {
  font-family: inherit;
  text-align: center;
  background-color: inherit;
  border: none;
  color: #444;
}

button {
  border: 2px solid #496bbe;
  background-color: #f5f7fa;
  color: #444;
  transition: 500ms;
}

button:hover {
  background-color: #496bbeb3;
}

button:active {
  scale: 1.1;
}

.Resoruces-Container {
  display: flex;
  flex-direction: column;
}

.Hidden {
  display: none;
}

chartnav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.Sub-Selection {
  width: 30%;
  padding: 5px;
  font-size: 25px;
  color: #444;
  border: 2px solid #496bbe;
  transition: 500ms;
}

.Sub-Selection:hover {
  background-color: #496bbeb3;
}

.Dropdown {
  width: 40%;
  padding: 3px;
  margin: 5px auto 5px auto;
  border: 2px solid #496bbe;
  transition: 500ms;
}

summary {
  font-size: 23px;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.Dropdown:hover {
  background-color: #496bbeb3;
}

details[open] {
  background-color: #f5f7fa !important;
}

@media only screen and (max-width: 300px) {
  .Switch-Page {
    width: 30%;
    font-size: 15px;
  }
}

@media only screen and (max-width: 550px) {
  .Switch-Page {
    margin: 2px;
    font-size: 4vw;
  }
  chartnav {
    flex-direction: column;
  }
  .Sub-Selection {
    font-size: 20px;
    width: 100%;
  }
  .Dropdown {
    width: 80%;
  }
  h3 {
    font-size: 15px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: row;
    justify-content: left;
  }
}
