main {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.Search {
  width: 80%;
  font-size: 20px;
  outline-color: #496bbe;
  padding: 5px;
}

.Option {
  width: 30%;
  margin: 10px;
  padding: 5px;
  font-size: 20px;
  margin-bottom: 0px;
}

.Results {
  text-align: left;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
