.Title {
  margin-bottom: 0px;
}

.Search-Area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Search-Area input[type="text"] {
  font-size: 25px;
}

.Mode-Btn {
  width: 20%;
  margin: 10px;
  padding: 5px;
  font-size: 25px;
  border: var(--border);;
}

.Search-Options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.Search-Term {
  text-align: center;
}

.Option {
  width: 30%;
  margin: 10px;
  padding: 5px;
  font-size: 25px;
  margin-bottom: 0px;
}

.Results {
  width: 80%;
  height: 400px;
  text-align: left;
  margin: 0 auto;
  font-size: 20px;
  overflow-y: auto;
  background-color: var(--light-background);
  border-radius: var(--border-radius);
}

.Translation-Display {
  width: fit-content;
  font-family: inherit;
  margin: 0 auto;
}

@media only screen and (max-width: 1060px) {
  .Search-Area {
    flex-direction: column;
  }
  .Mode-Btn {
    width: 30%;
  }
}

@media only screen and (max-width: 900px) {
  .Results {
    font-size: 15px;
  }
}

@media only screen and (max-width: 670px) {
  .Results {
    font-size: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .Search-Options {
    flex-direction: column;
  }
  .Search {
    margin-bottom: 10px;
  }
  .Mode-Btn {
    margin: 0 auto;
    width: 100%;
  }
  .Option {
    width: 100%;
  }
}
