.Search {
  width: 80%;
  font-size: 25px;
  outline-color: #496bbe;
  padding: 5px;
}

.Search-Options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Search-Term {
  text-align: center;
}

.Option {
  width: 30%;
  margin: 10px;
  padding: 5px;
  font-size: 25px;
  margin-bottom: 0px;
}

.Results {
  width: 80%;
  text-align: left;
  margin: auto auto auto auto;
  font-size: 20px;
}

.Translation-Display {
  width: fit-content;
  margin: auto auto auto auto;
}

@media only screen and (max-width: 900px) {
  .Results {
    font-size: 15px;
  }
}

@media only screen and (max-width: 670px) {
  .Results {
    font-size: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .Search-Options {
    flex-direction: column;
  }
  .Option {
    width: 100%;
  }
}
